header{
    background-color: #111111;
    width: 100%;
    position: relative;
    
    .wrap_header{
        display: flex;
        padding: 24px 120px 27px 97px;
        max-width: 1920px;
        margin: 0 auto;
        .logo{
            width:226px;
            margin-right: auto;
        }
        .menu{
            ul{
                li{
                    padding: 0 20px;
                    position: relative;
                    list-style: none;
                    a{
                        color: white;
                        cursor: pointer;
                        text-transform: uppercase;
                        text-decoration: none
                    }
                    
                }
            }
            
        }
    }
    
    
}
@media screen and (max-width: 1440px){
    header{
        .wrap_header{
            padding: 24px 0 !important;
        }
    }
}
@media screen and(min-width: 992px){
    .menu-mobile{
        display: none;
    }
    header{
        height: 80px;
        .wrap_header{
            .menu{
                display: flex;
                align-items: center;
                ul{
                    display: flex;
                    margin: 0;
                    padding: 0;
                    li{
                        &:nth-child(3){
                            &::before{
                                width: 1px;
                                height: 20px;
                                background-color: white;
                                position: absolute;
                                left: 0;
                                content: '';
                            }
                            
                        }
                        a{  
                            position: relative;
                            &::after{
                                content: '';
                                height: 2px;
                                width: 0;
                                position: absolute;
                                background-color: #fccb05;
                                left: 0;
                                bottom: -2px;
                                transition: .25s ease-in-out;
                                opacity: 0;
                            }
                            &:hover{
                                &::after{
                                    content: '';
                                    height: 1px;
                                    width: 100%;
                                    opacity: 1;
                                    transition: .25s ease-in-out;
                                }
                            }
                        }
                    }
                }
                
            }
        }
        
        
    }
}
@media screen and(max-width: 991px){
    header{
        height: 55px;
        position: fixed;
        z-index: 99999;
        .wrap_header {
            padding: 15px !important;
            .menu-mobile{
                position: relative;
                width: 30px;
                height: 25px;
                span{
                    width: 100%;
                    height: 4px;
                    border-radius: 2px;
                    background-color: white;
                    display: block;
                    position: absolute;
                    left: 0;
                    right: 0;
                    opacity: 1;
                    transition: .25s ease-in-out;
                    &:nth-child(1){
                        top: 0;
                    }
                    &:nth-child(2){
                        top: 10px;
                    }
                    &:nth-child(3){
                        top: 20px;
                    }
                }
                &.isOpen{
                    span{
                        &:nth-child(1){
                            top: 11px;
                            transform: rotate(135deg);
                        }
                        &:nth-child(2){
                            opacity: 0;
                            left: -30px;
                        }
                        &:nth-child(3){
                            top: 11px;
                            transform: rotate(-135deg);
                        }
                    }
                }
            }
            .menu{
                display: none;
                position: fixed;
                top: 54px;
                right: -200px;
                height: 100%;
                background: #111111;
                align-items: flex-start !important;
                transition: .25s ease-in-out;
                opacity: 0;
                ul{
                    display: block !important;
                    padding-top: 20px !important;
                    padding-left: 0;
                    li{
                        text-align: left;
                        margin-bottom: 10px;
                        &:nth-child(3){
                            &::before{
                                display: none;
                            }
                        }
                    }
                }
                &.isOpen{
                    display: block;
                    right: 0 !important;
                    opacity: 1;
                }
            }
        }
        
    }
    
}